.input {
  border: 0;
  font-size: 1.5em;
  padding: 15px 30px;
  background: transparent;
  border-bottom: 2px solid black;
  transition: border-color 300ms ease-in;
}

.input:focus {
  outline: none;
}

.input:hover,
.input:focus {
  border-color: #a49694;
}
