:root {
  --label-size: 40px;
  --clock-radius: 300px;
  --seconds-thickness: 4px;
  --center-dot-radius: 10px;
}

.clock {
  margin: 0 auto;
  font-size: 20px;
  position: relative;
  border-radius: 100%;
  background-color: white;
  border: 5px solid black;
  box-sizing: content-box;
  width: calc(var(--clock-radius) * 2);
  height: calc(var(--clock-radius) * 2);
}

.clock[data-active='false'] {
  display: none;
}

.clock::before {
  top: 50%;
  left: 50%;
  content: '';
  z-index: 10;
  position: absolute;
  background-color: red;
  border-radius: var(--center-dot-radius);
  width: calc(var(--center-dot-radius) * 2);
  height: calc(var(--center-dot-radius) * 2);
  margin-top: calc(var(--center-dot-radius) * -1);
  margin-left: calc(var(--center-dot-radius) * -1);
}

.labels-horizontal::after,
.labels-horizontal::before,
.labels-vertical::after,
.labels-vertical::before {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: var(--label-size);
  height: var(--label-size);
}

.labels-horizontal::before,
.labels-horizontal::after {
  top: calc(var(--clock-radius) - var(--label-size) / 2);
}

.labels-horizontal::before {
  content: '75%';
  left: calc(var(--clock-radius) / 15);
}

.labels-horizontal::after {
  content: '25%';
  right: calc(var(--clock-radius) / 15);
}

.labels-vertical::before,
.labels-vertical::after {
  left: calc(var(--clock-radius) - var(--label-size) / 2);
}

.labels-vertical::before {
  content: '100%';
}

.labels-vertical::after {
  content: '50%';
  top: calc((var(--clock-radius) * 2) - (var(--clock-radius) / 8));
}

.seconds {
  height: 50%;
  position: absolute;
  background-color: black;
  top: var(--clock-radius);
  transform-origin: top center;
  width: var(--seconds-thickness);
  transition: transform 100ms linear;
  transform: rotate(calc(var(--degree) * 1deg + 180deg));
  left: calc(var(--clock-radius) - var(--seconds-thickness) / 2);
}

.progress {
  position: absolute;
  left: var(--clock-radius);
  top: calc(var(--clock-radius) * 1.5);
  transform: translateX(-50%) translateY(-50%);
}
